.style {
	position: static;
}

.jam-results {
	width: 100vw;
	padding: 1vw;
	margin-left: auto;
	margin-right: auto;
}

.jam-container {
	background-color: #B5E2FA;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	border-color: #0FA3B1;
	border-radius: 3vw;
	width: 80vw;
}

.jam-results ul {
	list-style-type: none;
	text-align: center;
	padding: 0;
}