* {
	text-align: center;
}

.add-jam-form h3 {
	position: static;
	padding-top: 8vh;
	padding-bottom: 1vh;
}

.add-jam-form button {
	font-size: 7vw;
	color: black;
	background-color: #0FA3B1;
	padding: 2vw;
	margin: 6vw;
	border-radius: 2vw;
	border: none;
}