* {
	box-sizing: border-box;
	font-family: 'Alegreya Sans', sans-serif;
}

.image {
	color: #B5E2FA;
	height: 120vh;
	text-align: center;
}

h3 {
	position: absolute;
	bottom: 23vh;
	width: 100%;
	font-size: 13vw;
	color: black;
}

.buttons {
	position: absolute;
	bottom: 17vh;
	width: 100%;
}

.features {
	height: 130vh;
	text-align: center;
}

.about {
	height: 100vh;
	text-align: center;
}

a {
	text-decoration: none;
}

a:link {
	color: #B5E2FA;
}

a:visited {
	color: #B5E2FA;
}

a:hover {
	color: #0FA3B1;
}

@media only screen and (min-width: 770px) {
	.image {
		color: #B5E2FA;
		height: 150vh;
		text-align: center;
	}

	.buttons {
		position: relative;
		top: 61vh;
		width: 100%;
	}

	.features {
		height: 150vh;
		text-align: center;
		background-color: #F7A072;

	}

	.about {
		height: 100vh;
		text-align: center;
	}
}





