* {
	box-sizing: border-box;
	font-family: 'Alegreya Sans', sans-serif;
}

.navbar {
	background-color: #B5E2FA;
}

.navbar button {
	background-color: #0FA3B1;
}

.navbar a:link {
	color: black;
}

.navbar a:visited {
	color: black;
}

.navbar a:hover {
	color: #F7A072;
}