.about-section {
	background-color: #F7A072;
}

.title-about {
	background-image: url("https://evolutionatl.files.wordpress.com/2017/06/img_3400.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	color: #B5E2FA;
	text-align: center;
	height: 100vw;
	font-size: 13vw;
	padding: 0;
	margin: 0;
}

.about-content {
	font-size: 6vw;
	padding: 2vw;
	margin: 3vw;
	background-color: #F7A072;
}