.about-section {
	background-color: #F7A072;
	position: absolute;
	width: 100%;
	padding-top: 7vh;
}

.title-about {
	background-image: url("https://evolutionatl.files.wordpress.com/2017/06/img_3400.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	color: #B5E2FA;
	text-align: center;
	height: 100vw;
	font-size: 13vw;
	padding: 0;
	margin: 0;
}

.about-content {
	font-size: 6vw;
	padding: 2vw;
	margin: 3vw;
	background-color: #F7A072;
}

@media only screen and (min-width: 770px) {
	.title-about {
		background-image: url("https://evolutionatl.files.wordpress.com/2017/06/img_3400.jpg");
		background-repeat: no-repeat;
		background-size: cover;
		color: #B5E2FA;
		text-align: center;
		height: 63vw;
		font-size: 9vw;
		padding: 0;
		margin: 0;
	}

	.about-content {
		font-size: 2vw;
		padding: 2vw;
		margin: 2vw;
		background-color: rgba(247, 160, 114, 0.8);
		position: absolute;
		bottom: 17vw;
		margin-left: 28vw;
		margin-right: 28vw;
	}

	.about-content a {
		font-size: 3vw;
	}
}