.login-button {
	font-size: 7vw;
	background-color: #0FA3B1;
	border-radius: 2vw;
	padding: 2vw;
	margin: 2vw;
}

.learn-more-button {
	font-size: 7vw;
	margin: 2vw;
	padding: 2vw;
	background-color: rgba(247, 160, 114, 0.8);
	border-style: round;
	border-radius: 2vw;
}

img {
	width: 100%;
	position: absolute;
	left: 0;
	top: 7vh;
}

.title {
	position: absolute;
	top: 11vw;
	left: 9vw;
	font-size: 19vw;
	margin: 0;
	padding: 0;
}

@media only screen and (min-width: 770px) {
	img {
		width: 100%;
	}

	.title {
		position: absolute;
		top: 9vw;
		left: 7vw;
		font-size: 13vw;
		margin: 0;
		padding: 0;
	}

	.login-button {
		font-size: 5vw;
		padding: 1vw;
		margin: 1vw;
	}

	.learn-more-button {
		font-size: 5vw;
		padding: 1vw;
		margin: 1vw;
	}


}

